<%- include("../partials/top") %>
  <%- include("../partials/navbar") %>
    <%- include("../partials/sidebar") %>
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Create event</h4>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <div class="row d-flex flex-wrap gap-2">
            <% event.forEach((evt)=> { %>
              <div class="col-md-4">
                <div class="card h-100">
                  <div class="card-header d-flex justify-content-between">
                    <p>
                      <%= evt.title %>
                    </p>
                    <span>
                      <p>Pocetak Eventa</p>
                      <%= dayjs(evt.startAt).format("YYYY-MM-DD") %>
                        <p>Kraj Eventa</p>
                        <%= dayjs(evt.endAt).format("YYYY-MM-DD") %>

                    </span>
                  </div>

                  <div class="card-body">

                    <% if (evt.thumbnail) { %>
                      <img src="/upload/<%= evt.thumbnail %>" alt="slika" class="img-fluid mb-2"
                        style="max-height:150px; object-fit:cover;">
                      <% } %>
                        <span>User:</span>
                        <%= evt.user  %>



                          <hr>
                          <%= evt.decription %>

                  </div>

                  <div class="card-footer">



                  </div>
                </div>
              </div>
              <% }) %>
          </div>
          <!-- ============================================================== -->
          <!-- End Container fluid  -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- footer -->
          <!-- ============================================================== -->
          <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by
            <a href="https://www.wrappixel.com">WrapPixel</a>.
          </footer>
          <!-- ============================================================== -->
          <!-- End footer -->
          <!-- ============================================================== -->
        </div>

        <%- include("../partials/bottom") %>